

.full-width-image {
    width: 100vw;
    position: relative;
    left: 50%;  
    margin-left: -50vw;
    padding-right: -10em;
 }


 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: -4rem;
    font-family: serif;
    font-style: italic;
    color: azure;
    border-style: outset;
 }
 
.centered2 {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: -4rem;
    font-family: serif;
    font-style: italic;
    color:rgb(216, 192, 56)
  
       
 }
 .services{
     font-family: serif;
     font-style: italic;
     font-size: 2.9rem;

 }
 .decoration{
     font-size: 2rem;
 }
 .catering{
    font-size: 2rem;
}
.video{
    font-size: 2rem;
}
.wedding{
    font-size: 2rem;
}
#font{
    color:white
}
#vibhavam{
    color: whitesmoke;
    font-size:1.8rem;
}
.header{
    background-color: rgb(36, 58, 34);
    height: 4.5rem;
}




.callout {
    position: fixed;
    bottom: 35px;
    right: 20px;
    margin-left: 20px;
    max-width: 230px;
    height: 206
    px;
  }
  
  .callout-header {
    padding: 10px 15px;
    background: rgb(49, 85, 139);
    font-size: 21px;
    color: white;
  }
  
  .callout-container {
    padding: 15px;
    background-color: #ccc;
    color: rgb(32, 81, 94)
  }
  
  .closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: blue;
  }